@{
    ViewData["Title"] = "Inicio";
}

<div class="row d-flex align-items-center">
    <div class="col-md-7 text-center">
        <h1>¡Bienvenidos a BooksApp!</h1>
        <p class="index-description">Tu aplicación de gestión de libros favorita</p>
    </div>
    <div class="col-md-5">
        <img src="~/assets/img/book.jpg" class="img-fluid" alt="Libros"/>
    </div>
</div>
